{% extends 'base.html.twig' %}

{% block body %}

    <div class="alphabetical-list">
        <table>

            <caption>{{ tournament.name }}<br />Liste des participants</caption>

            <tr class="header">
                <th class="ranking">Pl</th>
                <th class="title"></th>
                <th class="name">Nom</th>
                <th class="rating">Elo</th>
                <th class="cat">Cat.</th>
                <th class="fed">Fede</th>
                <th class="league">Ligue</th>
                <th class="club">Club</th>
            <tr/>

            {% for rank, player in alphabeticalList %}
                <tr class="player"> 
                    <td class="ranking">{{ rank + 1 }}</td>
                    <td class="title">{{ player.title }}</td>
                    <td class="name">{{ player.lastName | upper}} {{ player.firstName }}</td>
                    <td class="rating">{{ player.rating }} F</td>
                    <td class="cat">{{ player.category }}{{ player.gender }}</td>
                    <td class="fed"><img border="0" src="http://localhost:8000/flags/{{ "FRA" }}.GIF" height="15px"></td>
                    <td class="league">{{ player.league }}</td>
                    <td class="club">{{ player.club }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
            
{% endblock %}
