
<table>
{% for player in tournament.players %}
    <tr class="player"> 
        <td>{{ player.pairingNumber }}</td>
        <td>{{ player.title }}</td>
        <td>{{ player.name }}</td>
        <td>{{ player.rating }}</td>
        <td>{{ player.points }}</td>
        <td>{{ player.opponentAverage }}</td>
        <td>{{ player.fide }}</td>

    </tr>
{% endfor %}
</table>

