
<table>
   
    <caption>{{ tournament.name }}<br />Grille américaine après la ronde {{ round.number }}</caption>

    <tr>
        <th>Pl</th>
        <th></th>
        <th>Nom</th>
        <th>Elo</th>
        <th></th>
        <th>Cat.</th>
        <th>Fede</th>
        <th>Ligue</th>
            {%for r in tournament.rounds %}
            <th>R {{r.number }}</th>
        {% endfor %}
        <th></th>
    <tr/>

    {% for player in tournament.players %}
        <tr class="player"> 
            <td>{{ player.ranking }}</td>
            <td>{{ player.title }}</td>
            <td>{{ player.name }}</td>
            <td>{{ player.rating }}</td>
            <td>F</td>
            <td>Sen{{ player.gender }}</td>
            <td>FRA</td>
            <td>NAQ</td>

            {% for game in player.results %}
                <td>{{ game.result }}{{ game.opponent }}{{ game.colour }}</td>
            {% endfor %}
            <td>{{ player.points }}</td>
            <td>DEP 1</td>
            <td>DEP 2</td>
            <td>DEP 3</td>

        </tr>
    {% endfor %}

</table>

